[submodule "WorldBuilder/vendors/GLFW/glfw"]
	path = WorldBuilder/vendors/GLFW/glfw
	url = https://github.com/glfw/glfw
[submodule "WorldBuilder/vendors/glm/glm"]
	path = WorldBuilder/vendors/glm/glm
	url = https://github.com/g-truc/glm
[submodule "WorldBuilder/vendors/assimp/assimp"]
	path = WorldBuilder/vendors/assimp/assimp
	url = https://github.com/assimp/assimp/
[submodule "WorldBuilder/vendors/entt/entt"]
	path = WorldBuilder/vendors/entt/entt
	url = https://github.com/skypjack/entt
[submodule "WorldBuilder/vendors/imgui/imgui"]
	path = WorldBuilder/vendors/imgui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "WorldBuilder/vendors/yamlcpp/yamlcpp"]
	path = WorldBuilder/vendors/yamlcpp/yamlcpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "WorldBuilder/vendors/stb/stb"]
	path = WorldBuilder/vendors/stb/stb
	url = https://github.com/nothings/stb
