[submodule "WorldBuilder/vendors/GLFW/glfw"]
	path = WorldBuilder/vendors/GLFW/glfw
	url = https://github.com/glfw/glfw
[submodule "WorldBuilder/vendors/glm/glm"]
	path = WorldBuilder/vendors/glm/glm
	url = https://github.com/g-truc/glm
[submodule "WorldBuilder/vendors/assimp/assimp"]
	path = WorldBuilder/vendors/assimp/assimp
	url = https://github.com/assimp/assimp/
